@using CoreEntities;
@model IEnumerable<Car>
@{
    Html.RenderPartial("_Basket");
}
<h2>Cars</h2>
<div class="row">
    @foreach (var item in @Model)
    {
        <div class="col-md-5">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <label style="color:#ed5555; font-size:20px;">$ @item.Price</label>
                    </div>
                </div>
                <img src="~/Content/Images/Ferrari/@item.UrlImage" />
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>@(item.Description.Length >= 200 ? @item.Description.Substring(0, 200) : @item.Description)</p>
                </div>
                <p>
                    <button type="button" class="btn btn-primary" data-number="@item.Id" onclick="addProductToBasket(this)">Add to basket</button>
                </p>
                <div class="alert alert-warning alert-dismissable" id="mess-@item.Id">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="countDiv" id="countDiv-@item.Id">
                    <button id="btnplas" data-number="@item.Id" onclick="BtnPlas(this)">+</button>
                    <input type="text" class="countProduct" id="countProduct-@item.Id" maxlength="2" data-number="@item.Id" value="0" disabled />
                    <button id="btnminus" data-number="@item.Id" onclick="BtnMinus(this)">-</button>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/ScriptsForApp/OtherFunctions.js"></script>
<script src="~/Scripts/ScriptsForApp/WorkBasket.js"></script>





